/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');


  body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 20px;
  background: #f5f5f5;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #808080;
  outline: none;
  border-radius: 4px;
  width: 360px;
  height: 20px;
  transition: border-color 0.3s ease;
}

input[type="text"]:hover {
  border-color: #4e75ff;
}

input[type="text"]:focus {
  border-color: #6c8cff;
}

button {
  appearance: none;
  -webkit-appearance: none;
  background: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  transition: background 0.3s ease;
}

button:hover {
  background: #6c8cff;
}
/* Loader*/
.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
  margin: 20px auto;
  display: none;
}

.loader.hidden {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/*Gallery*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.gallery-item {
  display: block;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-item .info {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 12px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.gallery-item .info p {
  flex: 0 0 calc(50% - 12px);
  margin: 0;
  color: #333;
}

.loader {
  display: block;
  margin: 20px auto;
}



.load-more {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 40px;
    transition: background 0.3s ease;
}
          
button:hover {
    background: #6c8cff;
}

    
.hidden {
    display: none;
}
  